#ext_menu-2 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#ext_menu-2 .mbr-navbar__section {
  background: #28324e;
}
#ext_menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header1-3 SPAN {
  font-size: 36px;
}
#header1-3 P {
  text-align: left;
}
#msg-box1-5 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-5 .mbr-article {
  color: #fff;
}
#msg-box3-7 .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 36px;
}
#msg-box3-7 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-7 .mbr-article P {
  text-align: center;
}
#msg-box3-7 .mbr-article {
  text-align: center;
}
#header3-14 H3 {
  font-size: 36px;
  text-align: center;
}
#header3-14 P {
  text-align: center;
}
#header3-14 B {
  text-align: right;
}
#header4-13 H1 {
  font-size: 36px;
}
#header3-15 H3 {
  font-size: 36px;
  text-align: center;
}
#social-buttons2-17 .mbr-header__text {
  font-size: 24px;
}
#contacts1-12 STRONG {
  color: #efefef;
}
